<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="heading">SpaceX Launch Programs</h3>
    </div>
    <div class="col-md-4">
      <aside class="filters-section">
        <div class="card">
          <div class="card-body">
            <div class="filter-header">
              <h4>Filters</h4>
            </div>
            <div class="filter-sub-header">
              <h5>Launch Year</h5>
            </div>
            <div class="filter-buttons">
              <div
                [ngClass]="currentSelectedYear === i ? 'active' : ''"
                *ngFor="let year of launchYears; let i = index"
                (click)="getFilteredLaunchProgramData('currentSelectedYear', i)"
              >
                {{ year }}
              </div>
            </div>
            <div class="filter-sub-header">
              <h5>Successful Launch</h5>
            </div>
            <div class="filter-buttons">
              <div
                [ngClass]="currentLaunchSuccessIndex === i ? 'active' : ''"
                *ngFor="let val of success; let i = index"
                (click)="
                  getFilteredLaunchProgramData('currentLaunchSuccessIndex', i)
                "
              >
                {{ val.key }}
              </div>
            </div>
            <div class="filter-sub-header">
              <h5>Successful Landing</h5>
            </div>
            <div class="filter-buttons">
              <div
                [ngClass]="currentLandSuccessIndex === i ? 'active' : ''"
                *ngFor="let val of success; let i = index"
                (click)="
                  getFilteredLaunchProgramData('currentLandSuccessIndex', i)
                "
              >
                {{ val.key }}
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <div class="col-md-8">
      <p *ngIf="isLoading" class="loading-text"><strong>Loading...</strong></p>
      <div *ngIf="!isLoading" class="row">
        <div *ngIf="!launchData.length; else showRecords">
          <strong>No Launch Details Found</strong>
        </div>
        <ng-template #showRecords>
          <div *ngFor="let item of launchData" class="col-md-4">
            <app-launch-details [data]="item"></app-launch-details>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col-md-12">
      <h4 class="footer">
        <strong>Developed by: </strong>
        <a href="https://github.com/shivamjain1/demo-spacex">Shivam Jain</a>
      </h4>
    </div>
  </div>
</div>
